* {
	box-sizing: border-box;
}
html, body { 
	height: 100%;
	width: 100%; 
	margin: 0;
}

.input-group {
	position:absolute;
	margin-top:12rem;
}

.landingPage {
	height:520px;
}

/*Results Page Styling*/
.fa {
	color: black;
}
.bar {
	border: 1px solid black;
	background-color: pink;
	margin-top: 2rem;
	height: 5rem;
}
#address {
	/*width: 100%;*/
}
.results {
	border: 1px solid black;
	height: auto;
}
.resultsField {
	background-color: lightblue;
}
.profilePhoto {
	height: 170px;
	width: 180px;
	border-radius: 50%;
	float: left;
	padding-right: 1rem;
	padding-bottom: 1rem;
}
.contact{
	float: right;
}
.mapField {
	background-color: lightgrey;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
/*Star Rating System
Can take out if group wants. Can be edited using jQuery plugin, not installed yet*/
.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}
.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}
.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../images/star-off.svg');
  background-size : contain;
}
.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

/*weather*/
.weather {

}

/*Sticky Footer*/
footer {
	position:relative;
	bottom:0;
	left:0;
	right:0;
	height:5em;
}

.copyright {
	margin-top: 2rem;
}
.container-fluid {
	width: auto;
	height: 40px;
	color: #FFFFFB;
	font-size: 20px;
	margin: 0 auto;
	padding: 1em 10%;
}




























