/*Homepage Styling*/

* {
	box-sizing: border-box;
}

html, body { 
	height: 100%;
	width: 100%; 
	margin: 0;
}

body {
	color: #846240;
}

.container-fluid {
	padding:0;
}

.navbar-brand {
	font-family: 'Quicksand', sans-serif;
	color:#ef7cab;
	font-weight: bold;
}

.navbar-brand:hover {
	font-family: 'Quicksand', sans-serif;
	color:#d8709b;
	font-weight: bold;
}

.nav-link {
	color:#ef7cab;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.nav-link:hover{
	color:#d8709b;
}

.input-group {
	position:absolute;
	margin-top:12rem;
	width: 95%;
}

.submit {
	background-color: #ef7cab;
	border-color: #ef7cab;
	color:white;
}

.submit:hover {
	background-color: #d8709b;
	border-color: #d8709b;
	color:white;
}

.landingPage {
	height:520px;
}

#moovHeadline{
	font-family: 'Lora', serif;
	color: #ef7cab;
}

#pMoov {
	color:#ef7cab;
}

#carousel{
	width:70%;
}

.carousel-inner {
	border-radius:3px;
}

.description{
/*	background-color: #ef7cab;
	border:1px solid mintcream;
	border-radius:5px;*/
}

.signUp {
	background-color: mintcream;
	border-radius: 3px;
	border:10px solid #2fae56;
	font-family: 'Quicksand', sans-serif;
}

.signUp a{
	background-color: #ef7cab;
	border-color: #ef7cab;
	color: white;
}

.signUp a:hover{
	background-color: #d8709b;
	border-color: #d8709b;
	color: white;
}

.divider {
	margin-right: -30px;
}

.aboutUs {
	background-color: mintcream;
	border-radius: 3px;
	border:10px solid #2fae56;
	font-family: 'Quicksand', sans-serif;
}

.aboutUs h4{
	color:#ef7cab;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
}

footer{
	color:#ef7cab;
}

/*Results Page Styling*/

.fa {
	color: black;
}
.bar {
	display:none;
	border: 1px solid black;
	background-color: #f49ac2;
	margin-top: 2rem;
	height: 5rem;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
}
.results {
	border: 10px solid #2fae56;
	border-radius:5px;
	height: auto;
	font-family: 'Quicksand', sans-serif;
	font-weight:bolder;
}
.resultsField {
	background-color: #f49ac2;
	overflow: auto;
	height: 420px;
}

.resultsUser{
	background-color:mintcream;
}

.profilePhoto {
	height: 170px;
	width: 180px;
	border-radius: 50%;
	float: left;
}

#profileName{
	margin-top: 0.3em;
	margin-left: 30%;
}

.profileContactInfo{
	margin-left: 30%;
}
.contact{
	float: right;
	background-color: #f49ac2;
	border-color: #f49ac2;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;

}

.contact:hover{
	background-color:#d8709b;
	border-color:#d8709b;
}

.mapField {
	background-color: lightgrey;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#emailModal{
	display:none;
}

/*weather*/
#highTemp {
	color: #dc434b;
}

#lowTemp{
	color: #4a85c5;
}

/*Sticky Footer*/
footer {
	position:relative;
	bottom:0;
	left:0;
	right:0;
	height:5em;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
}

.copyright {
	margin-top: 2rem;
}


.background-2 .background-1 .background-3 {
	width: 100%;
    height: 180px;
}


.face1 .face2 .face3 { 
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 40rem;
    top: 8rem;
    border-color: green;
    border: solid 2px;
}


/*Help page*/

.face{
		border-radius: 100%;
		height:8rem;
		width:8rem;
		margin-bottom:20px;
		border: white solid 1px;
		position: absolute;
		margin-top: 5rem;
		margin-left: 7rem;
	}

	.background {
		height: 10rem;
	}
	.exp-name{
		margin-top:4rem;
		text-align: center;
	}

	.about-main-pg{
		background-color: rgba(241, 97, 10, 0.24);
		margin-bottom: 0px;
		
	}

	.about-pg-title{
		color:white;
		margin-bottom: 70px;
	}

	.about-main-pg-body{
		background-color: rgba(21, 179, 158, 0.31);
		margin-top: 1px;
	}

	.exp-name{
		color: rgba(236, 178, 35, 0.74);
		text-align: center;
	}

	.about-det {
		font-size: 2rem;
		color: #5a0404;
	}

	.exp-detail{
		font-size: 1rem;
		color: #968c8c;
		padding: 1rem;
		margin-bottom: 1rem;
	}

	.card-exp{
		margin-bottom: 2rem;
	}

	.exp-footer{
		padding: 1rem;
	}



















